@import "../../../styles/main.scss";

.results_section {
  width: 90%;
  max-width: rem(900);
  margin: rem(42) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(24);

  .question_list {
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }
}
