@import "../../../styles/main.scss";

.results_section {
  width: 90%;
  max-width: rem(900);
  margin: rem(42) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(24);

  h1 {
    font-size: rem(24);
  }

  h2 {
    font-size: rem(18);
  }

  .link {
    color: #1b007e;
    text-decoration: underline;
    font-weight: 600;
  }

  .question_list {
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }
}
